$global-blueMix-Color: #535da1;
$global-white-color:white;
$global-lightGreen-color: #14b789;
// .servicesContainerColor{
//   background-color: #f9f9f9;
//   padding-bottom: 100px;
// }
.globalClassForThisGreenColor {
  background-color: $global-lightGreen-color;
}
div {
  .servicesMainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  .services-image {
    border-radius: 100px;
    width: 160px;
    height: 160px;
    object-fit: cover;
    border: 100px !important;
    margin: 10px 10px 10px 10px;
  }
  .servicesHeading {
    margin-left: 1rem !important;
    color: $global-white-color;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: -3px;
  }
  .servicesCard {
    position: relative;
    border-radius: 25px;
    margin-bottom: 24px;
    background-color: white;
    border-width: 2px;
    overflow: hidden;
    border: 2px solid;
    border-color: #f9f9f9;
    padding: 10px 16px 240px;
    .servicesCardMainDiv {
      display: flex;
      justify-content: space-between;
      padding-left: 20px;
      padding-top: 25px;
      padding-right: 20px;
      .cardPriceDesign {
        background-color: $global-blueMix-Color;
        border-radius: 20px;
        padding: 6px 20px 6px 15px;
        overflow: hidden;
        color: white;
      }
      .cardHeading {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
      }
      .services-price-overlay {
        border-bottom-left-radius: 100%;
        position: absolute;
        top: 35px;
        right: 36px;
        width: 20px;
        height: 20px;
        overflow: hidden;
        border-top-right-radius: 25px;
        background: $global-lightGreen-color;
    }
    }
    &:hover {
      border: 2px solid;
      border-radius: 25px;
      transition-delay: all 0.5s ease 0s;
      .cardPriceDesign {
        background-color: $global-lightGreen-color;
      }
      .services-icon-wrap {
        background-color: $global-lightGreen-color;
        border-color:#e9eaeb;
        .icon {
          color: $global-white-color;
        }
      }
      .services-price-overlay{
        background: $global-blueMix-Color;
      }

      border-color: $global-lightGreen-color;
    }
    .services-icon-wrap {
      border: 1px solid;
      border-radius: 10px;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
      height: 60%;
      transform: rotate(-35deg) translateY(55px);
      transition: all ease 0.5s;
      border-color:#e9eaeb;
      .icon {
        width: 100px;
        height: 100px;
        margin-top: 60px;
        margin-left: 80px;
      }
    }
    .Services-card-btn {
      margin-left: 6%;
      font-weight: 700;
      border-radius: 100px;
      background-color: white;
      border: 2px solid #e9eaeb;
      color: #717275;
      padding: 12px 24px;
      font-size: 18px;
      &:hover {
        background-color: $global-lightGreen-color;
        color: $global-white-color;
      }
    }
    .cardDescriptionText {
      padding-left: 6%;
      color: #717275;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 1rem;
      .hrWidth{
        width: 94%;
      }
    }
  }
}
@media only screen and (min-width: 375px) and (max-width: 576px) {
  .ServicesHeadingContainerMediaQuery{
    padding: 0px!important;
    margin:0px!important;
  }
  
  .servicesMainDiv{
    .servicesHeading{
      margin-left: 1.0rem!important;
      font-size: 28px;
    }
  }
  .servicesCard{
    .servicesCardMainDiv{
      .cardHeading{
        font-size: 26px !important;
      }
      .cardPriceDesign{
        padding:6px 20px 6px 15px !important;
        font-size: 13px;
      }
    }
  }
  .Services-card-btn{
    font-size: 13px !important ;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1282px) {
  .ServicesMediaQuery{
    margin-bottom: 50px!important;
  }
  .secondMediaQuery{
    margin-top: -40px!important;
  }
  .SEOMediaQuery{
    margin-top: -20px;
  }
}
@media only screen and (min-width: 1282px) and (max-width: 1920px) {
  .ServicesMediaQuery{
    margin-bottom: 50px!important;
  }
  .secondMediaQuery{
    margin-top: -40px!important;
  }
  .SEOMediaQuery{
    margin-top: -40px;
  }
}