$global-blueMix-Color: #535da1;

.globalClassForThisBlueMixColor {
  background-color: $global-blueMix-Color;
}
.experienceRowBackgroundColor{
  background-color: #f9f9f9;
}
.ExperiencesAndTable {
  padding-top: 10%;
  padding-bottom: 5%;
}
.designingComponentContainer {
  background-color: #535da1;
  position: relative;
  overflow: hidden;
  .mainContainerBgSvg {
    margin-top: 166px;
    position: absolute;
    z-index: 1;
  }
}
@media only screen and (min-width: 375px) and (max-width: 576px) {
  .designingComponentContainer {
    height: 55rem;
    .mainContainerBgSvg {
      // height:500%;
      position: absolute;
      z-index: 1;
      // margin-left: -100px;
    }
  }
  .mainContainerBgSvg {
    margin-top: -100px;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .designingComponentContainer {
    height: 56rem;
  }
  .mainContainerBgSvg {
    // margin-top: 200%;
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .designingComponentContainer {
    height: 64rem;
  }
  .mainContainerBgSvg {
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1282px) {
  .designingComponentContainer {
    height: 39rem;
  }
  .mainContainerBgSvg {
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 1282px) and (max-width: 1439px) {
  .designingComponentContainer {
    height: 39rem;
  }
  .mainContainerBgSvg {
    height: 100%;
    width: 100%;
  }
}
@media only screen and (min-width: 1439px) and (max-width: 1530px) {
  .designingComponentContainer {
    height: 41rem;
  }
}
@media only screen and (min-width: 1530px) and (max-width: 1920px) {
  .designingComponentContainer {
    height: 43rem;
  }
}