@import "../Header/Header.scss";

@mixin about-second-image() {
  border-radius: 100px;
  width: 160px;
  height: 160px;
  object-fit: cover;
  margin: 10px 30px 10px 10px;
}
.paddingData{
  padding-top: 10%;
  padding-bottom: 10%;
}
div {
  .about-first-image {
    border-radius: 25px;
    height: 100%;
    width: 100%;
  }
  .aboutSecondColumnMainDiv {
    background-color: $global-lightGreen-color;
    display: flex;
    border-radius: 10px;
    .Heading {
      margin-left: auto;
      margin-top: 10%;
      font-size: 300%;
      font-weight: 700;
      color: $global-white-color;
      opacity: 1;
      letter-spacing: -3px;
    }
    .about-second-image {
      @include about-second-image();
    }
    @media only screen and (max-width: 1000px) {
      margin-top: 5%;
    }
  }
  .about-heading{
    font-weight: 700;
  }
  .about-description-Text{
    color: #717275;
    font-weight: 500;
  }
}

@media only screen and (min-width: 375px) and (max-width:576px) {
  .AboutMediaQuery{
    padding: 0px!important;
    margin:0px!important;
  }
  .aboutSecondColumnMainDiv{
    display: flex;
    align-items: center;
    .Heading{
      font-size: 28px !important;
    }
  }
  }