$global-lightGreen-color: #14b789;
$global-white-color: white;

.sticky-wrapper {
  position: relative;
  z-index: 222;
  color: white !important;
  height: auto !important;
  background-color: #535da1;
  .iconsClassDiv {
    border-radius: 100% !important;
    width: 45px;
    height: 45px;
    background-color: white;
    margin-right: 12px;
    .avatar-icon {
      padding-left: 14px;
      padding-top: 14px;
      color: black;
    }
  }
  .navLi {
    color: white;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 10px;
    margin-left: 10px;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 10px;
      text-decoration-thickness: 2px;
    }
  }
  .navFirstLi {
    color: $global-lightGreen-color;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 10px;
    margin-left: 20px;
  }
}
.navbarClass {
  width: 1349px;
  position: fixed;
  top: 0px;
}
.is-sticky {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1rem 3rem;
  background: white;
  position: fixed;

  .iconsClassDiv {
    border-radius: 100% !important;
    width: 45px;
    height: 45px;
    background-color: $global-lightGreen-color;
    margin-right: 12px;
    .avatar-icon {
      padding-left: 14px;
      padding-top: 14px;
      color: white;
    }
  }

  .navLi {
    color: black;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .navTitleHeading {
    color: black;
    &:hover {
      color: black;
    }
  }

  .nav-Btn {
    border-radius: 25px;
    border: 2px solid;
    width: 100%;
    border-color: $global-lightGreen-color;
    color: $global-lightGreen-color;
    font-size: 18px;
    font-weight: 700;
    &:hover {
      background-color: $global-white-color;
      color: #14b789;
    }
  }
}
.is-sticky .navbar .container {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1rem 3rem;
}
.navTitleHeading {
  font-weight: 700;
  font-size: 32px;
  color: white;
  &:hover {
    color: white;
  }
}

.navbar-nav {
  .nav-link.active,
  .navbar-nav,
  .nav-link {
    &:hover {
      color: $global-lightGreen-color;
      // text-decoration: underline;
    }
  }
}
.nav-Btn {
  border-radius: 25px;
  width: 100%;
  border-color: $global-white-color;
  color: $global-white-color;
  font-size: 18px;
  font-weight: 700;
  &:hover {
    background-color: $global-white-color;
    color: #14b789;
  }
}
@media only screen and (min-width: 375px) and (max-width: 576px) {
  .HeaderMediaQuery {
    // max-width: 100%;
    width: 100%;
  }
  .sticky-wrapper {
    .navFirstLi {
      margin-left: 10px !important;
    }
    .iconsClassDiv {
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }
  .is-sticky {
    .navbarClass {
      width: 94%;
      margin-right: 11px;
      margin-left: 11px;
    }
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .HeaderMediaQuery {
    margin-left: 2px;
    .navLi {
      padding-left: 0px !important;
    }
  }
  .is-sticky {
    .navbar {
      .container {
        width: 1000px;
      }
    }
  }
  .container,
  .container-sm {
    max-width: 880px !important;
  }
  // my Code
  .HeaderMediaQuery {
    .nav-Btn {
      margin: 0px !important;
      padding: 0px !important;
    }
  }
  .is-sticky {
    .navbarClass {
      width: 94%;
      margin-right: 11px;
      margin-left: 11px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .HeaderMediaQuery {
    width: 100%;
    margin-left: 40px;
    .iconsClassDiv {
      width: 45px;
    }
    .nav-Btn {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 10px;
    }
  }
}
@media only screen and (min-width: 992px) and (max-width: 1282px) {
  .HeaderMediaQuery {
    max-width: auto;
    margin-left: 30px;
  }
}
@media only screen and (min-width: 1282px) and (max-width: 1920px) {
  .navbar {
    padding-top: 27px;
  }
  .is-sticky {
    .navbarClass {
      width: 94%;
      margin-right: 11px;
      margin-left: 50px;
    }
  }
}

// .sticky-wrapper{
//   width: 10px;
// }
// my code

// .navbar-collapse {
//   display: none !important;
// }

// .navbar-toggler {
//   display: block !important;
// }

// .navbar-nav {
//   display: none;
// }
// .navbar-nav .nav-link {
//   padding: 0.5rem 1rem;
// }

// .navbar-collapse.show {
//   background-color: #ffffff; /* Set desired background color */
//   padding: 10px; /* Set desired padding */
//   // display: flex;
//   // flex-direction: column;
//   a.navLi.nav.Link{
//     display: flex;
//     flex-direction: column;
//   }
// }

.light {
  background-color: white;
  color: black;
}
// .themeButtonContainer{
//     // display: flex;
//     // position: fixed;
//     // margin-left: 100px;
//     // text-align: end;
//     // z-index: 100;
// }
.dark {
  background-color: grey;
  .about-heading {
    color: white;
  }
  .about-description-Text {
    color: white;
  }
  .experienceRowBackgroundColor {
    .ExperiencesAndTable {
      color: white;
    }
  }
  .companiesHeading {
    color: white;
  }
  // .SayHiContainerBackgroundColor {
  //   background-color: grey;
  // }
}
